// These are the LESS variables Populr requires in every theme. As a user 
// selects options in their Pop, these values will be overridden. Choose 
// sensible defaults, as these will be seen by the user if they choose to go 
// with your settings. If you are developing your theme in a sub-directory, you
// will need to set that directory in @base-url (e.g. '../my-sub-directory')

@base-url: '..';
@accent-color: #3096D2;
@background-color: hsl(hue(@accent-color), 33%, 92%);
@background-color-ligher: hsl(hue(@accent-color), 25%, 96%);
@headline-font-family: 'Lato', Arial, sans-serif;
@headline-font-weight: 300;
@headline-color: #000;